{% extends "base.html" %}

{% block title %}Mini Biblioteca BigData{% endblock %}

{% block content %}
<div class="hero-section"
     style="background-image: url('{{ url_for('static', filename='img/biblioteca_robot.png') }}');">
  <div class="hero-overlay"></div>

  <div class="container hero-content text-center">
    <h1 class="hero-title mb-3">Mini Biblioteca BigData</h1>
    <p class="hero-subtitle mb-4">
      Proyecto final de Big Data: buscador de una biblioteca digital usando
      GitHub, Elasticsearch, MongoDB y Render.com.
    </p>
    <p class="mb-4">
     Prueba el buscador por título del libro y/o autor.
    </p>
    <a href="{{ url_for('buscar') }}" class="btn btn-primary btn-lg">
      Ir al buscador
    </a>
  </div>
</div>
{% endblock %}
